h1 {  
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 46px;
}

h3 {  
  color: red;
  font-size: 36px;
}

li {  
  color: blue;
  font-size: 50px;
}

body {  
    background: white;
}